@{
    ViewData["Title"] = "Podcast - Baconsale";
}

<div class="text-center">
    <h1 class="display-4">Check out my Podcast!</h1>
    <p>Learn more about it by following this link <a href="https://baconsale.com/">Baconsale</a>.</p>
</div>